{% import "macros.html" as macros %}
{% extends "base.html" %}



{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Bucks County Homebrew Exchange</h1>
    <p class="lead">Trade homebrews. Share feedback. Track your brews' success on the market. Meet other homebrewers.</p>
    <p class="lead">
    <a href="/about" class="btn btn-lg btn-default">Learn More</a>
    </p>

  <h2>
  Market Volume: {{ market_volume }}<br>
  Market Value: {{ market_value }}<br>
  Active Users: {{ user_count }}<br>
  Active Trades: {{ trade_count }}<br>
  Listed Brews: {{ brew_count }}<br>
</h2>

</div>
{% endblock %}
